<div class="header"> 
   <h1> ACH information by routing number </h1>
</div>
<div class="home-search-box">
  <p id="notice"><%= notice %></p>
  <%= form_tag search_result_path,  method: :get do  %>
    <div class="search-input">     
      <%= text_field_tag :rt_number, params[:rt_number], :placeholder => 'Enter routing mumber', :id => "search-field"%>
      <%= submit_tag "Find Your Bank", name: nil, :class => "btn btn-large btn-custom-primary", :id => "search-button" %>
      <div style="clear:both;"></div>
    </div>
  <% end %>
  
</div> 